
$acero: #AFD0DB;
$agua:  #2481F0;
$bicho: #C8D088;
$dragon: #A6AFF0;
$electrico: #FCDF7F;
$fantasma:#B79EB7;
$fuego: #F29091;
$hada: #F6B7F7;
$hielo: #9DEBFF;
$lucha: #FFBF7F;
$normal: #CFCFCF;
$planta: #9DD091;
$psiquico: #F69EBC;
$roca: #D7D4C0;
$siniestro: #A69E9D;
$tierra: #C8A78C;
$veneno: #C89EE5;
$volador: #C0DCF7;


